/* Red Embeds Only Theme */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

:root {
    --embed-link-color: #ff0000; /* Red Color */
    --embed-icon-color: #ff0000; /* Red Color */
}

/* Embedded elements */
.embedTitle, .embedDescription, .embedFieldName, .embedFieldValue, .embedFooterText, .embedAuthorName, .embedProviderName {
    color: var(--embed-link-color) !important;
}

/* Icons in embeds */
.embedAuthorIcon, .embedFooterIcon, .embedProviderIcon, .embedThumbnail, .embedImage, .embedRichVideo-thumb, .embedRichVideo-icon {
    fill: var(--embed-icon-color) !important;
}

/* Ensuring that links within embeds are targeted */
.embedTitle a, .embedDescription a, .embedFieldName a, .embedFieldValue a, .embedFooterText a, .embedAuthorName a, .embedProviderName a {
    color: var(--embed-link-color) !important;
}

/* Hover effect for links within embeds */
.embedTitle a:hover, .embedDescription a:hover, .embedFieldName a:hover, .embedFieldValue a:hover, .embedFooterText a:hover, .embedAuthorName a:hover, .embedProviderName a:hover {
    text-decoration: underline;
}

/* Link to the embed itself */
a.embedTitle {
    color: var(--embed-link-color) !important;
}

/* Hover effect for link to the embed itself */
a.embedTitle:hover {
    text-decoration: underline;
}
